#room-settings .general-settings .value {
    text-shadow: 1px;
    text-align: center;
    overflow: hidden!important;
}

#room-settings .general-settings .edit span {
    display: none;
}

#room-settings .general-settings .edit i {
    display: none;
}

#room-settings .general-settings .description {
    background: rgba(255, 255, 255, 0.08)!important;
    text-align: center;
    width: 80% !important;
    border-radius: 30px;
    margin-left: 9%;
    height: 50% !important;
}

#room-settings .general-settings .description .input-background {
    height: 235px !important;
    width: 796px !important;
}

#room-settings .general-settings .panel .title {
    display: none
}

#room-settings .general-settings .panel .title {
    display: none;
}

#room-settings .general-settings .description textarea {
    min-width: 99% !important;
    max-width: 99% !important;
    width: 99% !important;
}

#room-settings .general-settings .description .value {
    width: 97.7% !important;
    height: 100% !important;
}

#room-settings .general-settings .welcome textarea {
    min-width: 99% !important;
    max-width: 99% !important;
    width: 99% !important;
}

#room-settings .general-settings .welcome .value {
    width: 97.7% !important;
    height: 100% !important;
}

#room-settings .general-settings .welcome {
    text-align: center;
    width: 80% !important;
    border-radius: 30px;
    margin-left: 9%;
    height: 50% !important;
}

#room-settings .general-settings .welcome:after {
    text-align: center;
    position: absolute;
    content: "Copyright © 2018 GRAVE PLUG";
    margin-top: 150px;
    left: 40.10%
}

#room-settings .general-settings .welcome .input-background {
    height: 80px !important;
    width: 796px !important;
}

#room-settings .general-settings .description .value a:nth-of-type(7) {
    display: none;
}

#room-settings-menu {
    display: none;
    width: 0px;
    height: 0px;
}
